#nav-download-firefox {
	font-size: 1.2em;
	text-align: center;
}

#nav-download-firefox .download-link {
	display: block;
}

/*
Based on https://www.mozilla.org/media/css/firefox-home-bundle.css
*/

#nav-download-firefox .download-link {
	background-color: #fff;
	border: 2px solid #16da00;
	border-radius: 100px;
	color: #16da00;
	font-weight: 700;
	padding: .5em 20px;
}

#nav-download-firefox .download-link:link {
	background: #11bb69;
	text-decoration:none;
}

#nav-download-firefox .download-link:hover {
	background-color: #16da00;
	color: #fff;
}

#nav-download-firefox .download-link:link:hover {
	color: #fff;
}

